@import url("https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css?family=Anton&display=swap");

/* Common */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

h1,
h2 {
  font-family: "Playfair Display", serif;
  font-size: 84px;
}

h6 {
  font-size: 14px;
  font-weight: 200;
  margin: 0;
  padding: 0;
}

.fs-14 {
  font-size: 14px !important;
}

.fs-28 {
  font-size: 28px !important;
}

.fs-48 {
  font-size: 48px !important;
}

.fw-300 {
  font-weight: 300 !important;
}

.fw-200 {
  font-weight: 200 !important;
}

.text-orange {
  color: rgb(222, 80, 33);
}

/* Navbar */
.navbar {
  height: 65px;
  text-transform: uppercase;
}

.logo {
  width: 86px;
}

li.nav-item {
  padding: 0 10px;
}

.nav-item.active .nav-link:hover,
.nav-item.dropdown .nav-link:hover,
a.nav-link {
  color: #000 !important;
  transition: 0.5s;
}

a.nav-link:hover,
.dropdown-item:hover {
  color: #b7b7b7 !important;
}

.dropdown-menu {
  left: -15px;
  top: 22px;
}

.dropdown-item:hover {
  background: none;
  transition: 0.5s;
}

.navbar-nav li:hover > .dropdown-menu {
  display: block;
}

/* Header */
.header .top {
  background: black;
}

.header .locations h2 {
  font-family: "Pacifico", cursive;
}

.header .locations h1 {
  font-family: "Anton", sans-serif;
}

.b-logo p {
  margin-bottom: 200px;
  letter-spacing: 0.1em;
  font-size: 25px;
}

.b-logo img {
  margin: 80px 0 400px;
}

.header {
  margin-top: 65px;
  height: 1162px;
  background: url("./images/bg_parallax.webp") fixed no-repeat;
  background-position-y: -300px;
  background-size: cover;
}

/* About */
.about p {
  font-size: 20px;
  line-height: 1.6em;
  color: #8c8c8c;
}

/* Happy hours */
.hh-holiday h6 {
  font-size: 16px;
  font-weight: 200;
}

.happy-hours .col-6 {
  height: 780px;
}

.col-6.hh-cheers {
  background: url("./images/hh-1.jpg") center;
}

.col-6.hh-holiday {
  background: url("./images/hh-2.jpg") center;
}

/* Locations */
.barroco-list .row h6 {
  color: #605e5e;
  font-size: 18px;
}

.barroco-list a {
  font-family: "Pacifico", cursive;
  text-decoration: underline;
}

/* Live music */
.live-music span {
  font-family: "Anton", sans-serif;
  color: rgb(139, 1, 0);
  font-weight: 600;
  font-size: 80px;
  letter-spacing: 66px;
  left: 37%;
  top: 200px;
}

.live-music span:nth-child(2) {
  color: rgb(232, 232, 232);
  top: 250px;
  left: 33%;
}

.live-music .video {
  height: 527px;
  background: url("./images/lm-1.jpg") center;
  background-size: cover;
}

/* Footer */
.main-footer h6 {
  margin: 2px;
}

.main-footer {
  background: #e8e8e8;
}
